/IGCC/Library
/IGCC/Temp
/IGCC/Logs
/IGCC/UserSettings
IGCC/.vsconfig
*.sln
/IGCC/.vs
/IGCC/obj
IGCC/Assets/Materials/Milkyway DEMO SDF.asset
IGCC/Assets/Materials/HiddenMaterial.mat
IGCC/Assets/Materials/Milkyway DEMO SDF.asset
IGCC/Assets/Materials/Milkyway DEMO SDF.asset
